# Ignore .dat files
#*.txt
*.vtu
*.pvtu

# Optional: Ignore build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# Optional: Ignore executable
my_wave_solver
*.png
*.aux
*.gz
*.toc
*.out
